/*Bonus:
De gradients zijn in het bonusontwerp voorzien van een doorzichtige textuur. Deze kun je als pseudo-element via een background-image invoegen. Let op dat de textuur onder de content moet komen te staan. Lees hier meer over de background-image property.
Zorg ervoor dat er een transitie ontstaat wanneer de gebruiker over de project-links hovert (EdHub Hfst. 9.5):
bonus-moving-link*/


/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
/////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /*background-color: lightblue;*/
}

/* ------------------------------- 2. Typography ----------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/*https://coolors.co/d6d9ce-f3dad8-f4c3c2-f1b5cb-e88eed*/
:root {
    --paars: #5722CD;
    --blauw: #4B49E8;
    --lichtpaars: #F2F0FF;
    --roze: #ED4385;
    --zwart: #0C0C0C;
    --lichtgrijs: #F3F6F9;
    --grijs: #7A7A7A;
    /*    Zwart #0C0C0C (voor standaard tekst);*/
    /*    Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen:*/
    /*    Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
    /*    Grijs #7A7A7A (voor de service-tegel tekst);*/
}

.outer-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
}

.inner-container {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
header {
    background: linear-gradient(90deg, rgba(75, 73, 232, 1) 0%, rgba(87, 34, 205, 1) 100%);
    color: white;
    position: relative;
    padding-bottom: 110px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 40px;
    padding-top: 10px;
    width: 110%;
    font-size: 0.8em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 300px;
    list-style-type: none;
}

.text-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-header h1 {
    padding-bottom: 10px;
}

.text-header h3 {
    padding-bottom: 20px;
    font-weight: 400;
}

.text-header button {
    background-color: var(--roze);
    padding: 15px 25px;
    border: 2px solid var(--roze);
    border-radius: 30px;
    text-transform: uppercase;
    color: white;
    font-size: 0.5em;
    box-shadow: 2px 2px 4px var(--grijs);
}

header img {
    width: 30px;
    position: absolute;
    bottom: 0;
    left: calc(50% - 15px);
}

header a {
    color: var(--lichtgrijs);
    text-decoration: none;
}

/*#triangle: bonus opdracht*/
#triangle {
    /*eerst een rehcthoek maken met color gradient*/
    width: 100vw;
    height: 50px;
    background: linear-gradient(to left, var(--paars), var(--blauw));
}

#triangle::after {
    /*en dan met een witte driehoek hieroverheen zodat er een gradient driehoek overblijft*/
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 50px solid white;
}

/* --------------- 4.2 Introduction ------------------- */
.introduction {
    background-color: white;
    color: var(--paars);
    text-align: center;
    padding: 30px 0 80px 0;
    position: relative;
}

/*bonus: zwevende woorden*/
.introduction::before {
    content: "hello";
    display: inline-block;
    color: var(--lichtpaars);
    font-size: 20rem;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 18vw;
    opacity: 30%;
}

.introduction h2 {
    padding: 10px;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: -0.8px;
}

.introduction p {
    padding-top: 40px;
    color: var(--zwart);
    font-size: 0.7em;
}

.introduction span {
    color: var(--paars);
    font-weight: 700;
}

/*#triangle: bonus opdracht*/
#triangle-introduction {
    /*eerst een rehcthoek maken met color gradient*/
    width: 100vw;
    height: 50px;
    background: var(--lichtgrijs);
}

#triangle-introduction::after {
    /*en dan met een witte driehoek hieroverheen zodat er een gradient driehoek overblijft*/
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-top: 50px solid white;
}

/* --------------- 4.3 Projecten ------------------- */

.projecten {
    padding: 180px 0 80px 0;
    background-color: var(--lichtgrijs);
    position: relative;
}

/*bonus: zwevende woorden*/
.projecten::before {
    content: "work";
    display: inline-block;
    color: white;
    font-size: 20rem;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 18vw;
    opacity: 30%;
}

/*bonus: squiggle line in pseudo element*/
.projecten h3::after {
    content: "";
    display: block;
    background: url("assets/squiggle_line.svg");
    /*background-position: center;*/
    position: absolute;
    top: 50px;
    left: 0;
    width:  75px;
    height: 5px;
}

/* geen gebruik gemaakt van omg-wrapper / span, want had het al op een andere manier opgelost*/
.projecten-img {
    min-width: 300px;
    object-fit: cover;
}

.projecten-outer-container {
    width: 90vw;
    gap: 60px;
    padding-bottom: 40px;
}

.projecten-inner-container {
    align-items: flex-start;
    justify-content: center;
    padding: 40px;
}

.projecten-outer-container:nth-child(even) {
    flex-direction: row-reverse;
}

.projecten .squiggle {
    width: 30px;
    padding-bottom: 15px;
}

.projecten h3,
.projecten p,
.projecten a {
    padding-bottom: 20px;
}

.projecten h3 {
    font-size: 1.7rem;
    position: relative;
    padding-bottom: 60px;
}

.projecten p {
    font-size: 0.9rem;
}

.projecten a {
    text-transform: uppercase;
    color: var(--paars);
    font-size: 0.7rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

/*#triangle: bonus opdracht*/
#triangle-projects {
    /*eerst een rehcthoek maken met color gradient*/
    width: 100vw;
    height: 50px;
    background: white;
}

#triangle-projects::after {
    /*en dan met een witte driehoek hieroverheen zodat er een gradient driehoek overblijft*/
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-top: 50px solid var(--lichtgrijs);
}

/* --------------- 4.4 Services ------------------- */
/*ik heb de boxen laten flex wrappen ipv meegroeien of verkleinen*/
.services {
    background-color: white;
    color: var(--paars);
    gap: 30px;
    flex-wrap: wrap;
    padding: 120px 20px;
    position: relative;
}

/*bonus: zwevende woorden*/
.services::before {
    content: "services";
    display: inline-block;
    color: var(--lichtpaars);
    font-size: 10rem;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 18vw;
    opacity: 30%;
}

.services-containers {
    border: 1px solid var(--paars);
    align-items: flex-start;
    padding: 20px;
    box-shadow: 2px 4px 8px lightpink;
    flex-basis: 250px;
}

.services img {
    width: 50px;
    padding-bottom: 10px;
}

.services p {
    padding-top: 10px;
    color: var(--grijs);
    font-size: 0.7rem;
}

/*#triangle: bonus opdracht*/
#triangle-services {
    /*eerst een rehcthoek maken met color gradient*/
    width: 100vw;
    height: 50px;
    background: linear-gradient(90deg, rgba(75, 73, 232, 1) 0%, rgba(87, 34, 205, 1) 100%);;
}

#triangle-services::after {
    /*en dan met een witte driehoek hieroverheen zodat er een gradient driehoek overblijft*/
    content: " ";
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 100vw solid transparent;
    border-top: 50px solid white;
}


/* --------------- 4.5 Footer ------------------- */
footer {
    background: linear-gradient(90deg, rgba(75, 73, 232, 1) 0%, rgba(87, 34, 205, 1) 100%);
    color: var(--lichtgrijs);
    padding: 30px 0 0 0;
    align-items: center;
}

.form-inner-container {
    align-items: center;
}

footer h1 {
    font-size: 2.5rem;
    padding: 20px;
}

footer p {
    font-size: 0.9rem;
    padding-bottom: 20px;
}

form {
    padding: 20px;
    align-items: center;
}

.label-name {
    font-size: 0.7rem;
}

#name, #email, #message {
    padding: 16px;
    width: 50vw;
    border: 0px solid transparent;
    border-radius: 2px;
}

::placeholder {
    font-size: 0.7rem;
}

form textarea {
    font-size: 0.9em;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.form-padding {
    padding: 10px;
}

#button {
    background-color: var(--roze);
    color: white;
    text-transform: uppercase;
    border: 0px solid transparent;
    border-radius: 20px;
    width: 120px;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 0.6rem;
}

#footer-text {
    display: flex;
    justify-content: center;
    background-color: var(--zwart);
    width: 100vw;
    padding: 16px 0 0 0;
}

#footer-text p {
    font-size: 0.7rem;
}

/* ------------------------------- 5. Media Queries -------------------------------- */


@media only screen and (max-width: 800px) {
    body {
        font-size: 12px;
    }

    .introduction::before,
    .projecten::before {
        font-size: 10rem;
        top: 10vw;
        left: 18vw;
    }

    .projecten-outer-container {
        flex-wrap: wrap;
    }

    .projecten-inner-container {
        align-items: flex-start;
        justify-content: center;
        min-width: 40vw;
        padding: 0;
    }

   .projecten-img {
        width: 75vw;
        object-fit: cover;
    }

    footer h1 {
        font-size: 2rem;
    }

    .projecten h3 {
        font-size: 1.2rem;
    }
}